﻿body {
}

    body .topbar {
        background-color: rebeccapurple;
    }

        body .topbar .mainbar {
            width: 80%;
            background-color: darkcyan;
            margin: auto;
            display: flex;
            flex-wrap: nowrap;
        }

            body .topbar .mainbar .contact {
                flex-grow: 4;
                background-color: forestgreen;
                display: flex;
                justify-content: unsafe center;
                gap: 10px;
            }

            body .topbar .mainbar .login {
                flex-grow: 2;
                background-color: forestgreen;
                display: flex;
                justify-content: flex-start;
                gap: 5px;
            }

    body .main_container {
        width: 80%;
        background-color: peru;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .main_container .baner_container {
            flex-grow: 1;
            background-color: forestgreen;
            display: flex;
            justify-content: center;
            img

{
    height: 150px;
    width: 400px;
}
}
